# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env/
venv/
.venv/
env/
ENV/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env/
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/
dist/
*.egg-info/

# Flask specific
instance/
*.bak
*.swp
*.swo
*.pid
*.log
# Flask specific
instance/
*.bak
*.swp
*.swo
*.pid
*.log

# React (Frontend)
node_modules/
build/
.cache/
*.log
*.env
# React (Frontend)
node_modules/
build/
.cache/
*.log
*.env

# System-specific
.DS_Store
Thumbs.db
# System-specific
.DS_Store
Thumbs.db

# IDE/Editor-specific
# IDE/Editor-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/
*.vscode/
*.swp

# Other
*.log
*.tmp
*.tmp.*
*.DS_Store
*.Thumbs.db

*.fbconfig.json
quiz-backend/src/cs222-quiz-proj-firebase-adminsdk-k0qc4-936c2f1d05.json
Quiz-Practice-Platform-1/quiz-backend/src/cs222-quiz-proj-firebase-adminsdk-k0qc4-936c2f1d05.json
quiz-backend/src/cs222-quiz-proj-firebase-adminsdk-k0qc4-0ab5ea04f1.json
Quiz-Practice-Platform-1/quiz-backend/src/cs222-quiz-proj-firebase-adminsdk-k0qc4-0ab5ea04f1.json